// aux
predicate CLIENT_ID         object(key cid)
rewrite classical CLIENT_ID(u) ⟶      USER_NAME(u, client_user_name) ∧ USER_ZONE_NAME(u, client_zone)
rewrite CLIENT_ID(u) ⟶      USER_NAME(u, client_user_name) ⊗ USER_ZONE_NAME(u, client_zone)

predicate META              object(key oid, key mid, property a, property v, property u)
rewrite classical META(x, m, a, v, u) ⟶ OBJT_METAMAP_OBJ(x, m) ∧ META_ATTR_UNIT(m, u) ∧ META_ATTR_NAME(m, a) ∧ META_ATTR_VALUE(m, v)
rewrite META(x, m, a, v, u) ⟶ OBJT_METAMAP_OBJ(x, m) ⊗ META_ATTR_UNIT(m, u) ⊗ META_ATTR_NAME(m, a) ⊗ META_ATTR_VALUE(m, v)

predicate META_ATTR_ACCESS_OBJ object(key a, key oid, key uid, key acc)
rewrite META_ATTR_ACCESS_OBJ(oid, uid, acc) ⟶  OBJT_ACCESS_OBJ(oid, uid, acc)

// new predicates
predicate DATA_NAME_2       object(key oid, property n)
rewrite DATA_NAME_2(x, y) ⟶   DATA_NAME(x, y) ⊗ CLIENT_ID(u) ⊗ OBJT_ACCESS_OBJ(x, u, a) ⊗ eq(a, 1200)
rewrite classical DATA_NAME_2(x, y) ⟶   DATA_NAME(x, y) ∧ CLIENT_ID(u) ∧ OBJT_ACCESS_OBJ(x, u, a) ∧ eq(a, 1200)
rewrite insert DATA_NAME_2(x, y)  ⟶  insert DATA_NAME(x, y)
rewrite delete DATA_NAME_2(x, y)  ⟶  delete DATA_NAME(x, y)

predicate META_AVU          object(key a, key v, key u)
rewrite insert META_AVU (a,v,u)  ⟶   [¬(∃ m. META_ATTR_UNIT(m, u) META_ATTR_NAME(m, a) META_ATTR_VALUE(m, v))] nextid(m) insert
                            META_OBJ(m) META_ATTR_UNIT(m, u) META_ATTR_NAME(m, a) META_ATTR_VALUE(m, v)

predicate META_MAP_1        object(key oid, key a, key v, key u)
rewrite META_MAP_1(x, a, v, u) ⟶  META(x, m, a, v, u)
rewrite classical META_MAP_1(x, a, v, u) ⟶  META(x, m, a, v, u)
rewrite insert META_MAP_1(x, a, v, u) ⟶
        (
            META_ATTR_UNIT(m, u) ⊗ META_ATTR_NAME(m, a) ⊗ META_ATTR_VALUE(m, v) ⊕
            [¬ (∃ m. META_ATTR_UNIT(m, u) ∧ META_ATTR_NAME(m, a) ∧ META_ATTR_VALUE(m, v))] ⊗ nextid(m) ⊗ insert META_OBJ(m) META_ATTR_UNIT(m, u) META_ATTR_NAME(m, a) META_ATTR_VALUE(m, v)
        ) ⊗ insert OBJT_METAMAP_OBJ(x, m)
rewrite delete META_MAP_1(x, a, v, u) ⟶  OBJT_METAMAP_OBJ(x, m) ⊗ META_ATTR_UNIT(m, u) ⊗ META_ATTR_NAME(m, a) ⊗ META_ATTR_VALUE(m, v) ⊗ delete
                                OBJT_METAMAP_OBJ(x, m)

predicate META_MAP_2        object(key oid, key a, key v, key u)
rewrite META_MAP_2(x, a, v, u) ⟶  META(x, m, a, v, u) ⊗ CLIENT_ID(user) ⊗ META_ACCESS_OBJ(m, x, user, acc) ⊗ eq(acc, 1200)
rewrite classical META_MAP_2(x, a, v, u) ⟶  META(x, m, a, v, u) ∧ CLIENT_ID(user) ∧ META_ACCESS_OBJ(m, x, user, acc) ∧ eq(acc, 1200)
rewrite insert META_MAP_2(x, a, v, u) ⟶  CLIENT_ID(user) ⊗ META_ATTR_UNIT(m, u) ⊗ META_ATTR_NAME(m, a) ⊗ META_ATTR_VALUE(m, v) ⊗ META_ATTR_ACCESS_OBJ(a, user, acc) ⊗ eq(acc, 1200) ⊗ insert
                                OBJT_METAMAP_OBJ(x, m) META_ACCESS_OBJ(m, x, user, 1200)
rewrite delete META_MAP_2(x, a, v, u) ⟶  CLIENT_ID(user) ⊗ META_ACCESS_OBJ(m, x, user, acc) ⊗ eq(acc,1200) ⊗ META_ACCESS_OBJ(m, x, user2, acc2) ⊗ OBJT_METAMAP_OBJ(x, m) ⊗ META_ATTR_UNIT(m, u) ⊗ META_ATTR_NAME(m, a) ⊗ META_ATTR_VALUE(m, v) ⊗ delete
                                META_ACCESS_OBJ(m, x, user2, acc2) OBJT_METAMAP_OBJ(x, m)

predicate META_1            object(key oid, key a, key v, key u)
rewrite META_1(x, a, v, u) ⟶  META(x, m, a, v, u)
rewrite classical META_1(x, a, v, u) ⟶  META(x, m, a, v, u)
rewrite insert META_1(x, a, v, u) ⟶  nextid(m) ⊗ insert
                            OBJT_METAMAP_OBJ(x, m) META_OBJ(m) META_ATTR_UNIT(m, u) META_ATTR_NAME(m, a) META_ATTR_VALUE(m, v)
rewrite delete META_1(x, a, v, u) ⟶  OBJT_METAMAP_OBJ(x, m) ⊗ META_ATTR_UNIT(m, u) ⊗ META_ATTR_NAME(m, a) ⊗ META_ATTR_VALUE(m, v) ⊗ delete
                            OBJT_METAMAP_OBJ(x, m)

predicate META_2            object(key oid, property a, property v, property u)
rewrite classical META_2(x, a, v, u) ⟶  META(x, m, a, v, u) ∧ CLIENT_ID(user) ∧ META_ACCESS_OBJ(m, x, user, acc) ∧ eq(acc, 1200)
rewrite META_2(x, a, v, u) ⟶  META(x, m, a, v, u) ⊗ CLIENT_ID(user) ⊗ META_ACCESS_OBJ(m, x, user, acc) ⊗ eq(acc, 1200)
rewrite insert META_2(x, a, v, u) ⟶  nextid(m) ⊗ CLIENT_ID(user) ⊗ META_ATTR_ACCESS_OBJ(x, user, acc) ⊗ eq(acc,1200) ⊗ insert
                            OBJT_METAMAP_OBJ(x, m) META_OBJ(m) META_ATTR_UNIT(m, u) META_ATTR_NAME(m, a) META_ATTR_VALUE(m, v) META_ACCESS_OBJ(m, x, user, 1200)
rewrite delete META_2(x, a, v, u) ⟶  CLIENT_ID(user) ⊗ META_ACCESS_OBJ(m, x, user, acc) ⊗ eq(acc, 1200) ⊗ META_ACCESS_OBJ(m, x, user2, acc2) ⊗ OBJT_METAMAP_OBJ(x, m) ⊗ META_ATTR_UNIT(m, u) ⊗ META_ATTR_NAME(m, a) ⊗ META_ATTR_VALUE(m, v) ⊗ delete
                            META_ACCESS_OBJ(m, x, user2, acc2) OBJT_METAMAP_OBJ(x, m)
